html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#open-modal, #close-modal {
  background-color: royalblue;
  color: white;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

#modal {
  background-color: white;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  top: 30%;
}

#overlay {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}